################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Lunafit/.vs/Lunafit/v16
/Lunafit/.vs/Lunafit/config
/Lunafit/obj
/Lunafit.Bc/bin/Debug/netcoreapp3.1
/Lunafit.Bc/obj
/Lunafit.Data/bin/Debug/netcoreapp3.1
/Lunafit.Data/obj/Debug/netcoreapp3.1
/Lunafit.Data/obj
/Lunafit.Models/bin/Debug/netcoreapp3.1
/Lunafit.Models/obj
/Lunafit.Service/bin/Debug/netcoreapp3.1
/Lunafit.Service/obj
/Lunafit/bin/Debug/netcoreapp3.1/runtimes
/Lunafit/bin/Debug/netcoreapp3.1/System.Security.Cryptography.ProtectedData.dll
/Lunafit/bin/Debug/netcoreapp3.1/System.Runtime.Caching.dll
/Lunafit/bin/Debug/netcoreapp3.1/System.IdentityModel.Tokens.Jwt.dll
/Lunafit/bin/Debug/netcoreapp3.1/System.Diagnostics.DiagnosticSource.dll
/Lunafit/bin/Debug/netcoreapp3.1/System.Configuration.ConfigurationManager.dll
/Lunafit/bin/Debug/netcoreapp3.1/System.ComponentModel.Annotations.dll
/Lunafit/bin/Debug/netcoreapp3.1/System.Collections.Immutable.dll
/Lunafit/bin/Debug/netcoreapp3.1/Swashbuckle.AspNetCore.SwaggerUI.dll
/Lunafit/bin/Debug/netcoreapp3.1/Swashbuckle.AspNetCore.SwaggerGen.dll
/Lunafit/bin/Debug/netcoreapp3.1/Swashbuckle.AspNetCore.Swagger.dll
/Lunafit/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
/Lunafit/bin/Debug/netcoreapp3.1/Microsoft.OpenApi.dll
/Lunafit/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Tokens.dll
/Lunafit/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/Lunafit/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.dll
/Lunafit/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Logging.dll
/Lunafit/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.JsonWebTokens.dll
/Lunafit/bin/Debug/netcoreapp3.1/Microsoft.Identity.Client.dll
/Lunafit/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
/Lunafit/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Options.dll
/Lunafit/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.dll
/Lunafit/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Abstractions.dll
/Lunafit/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.dll
/Lunafit/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/Lunafit/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Abstractions.dll
/Lunafit/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Memory.dll
/Lunafit/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Abstractions.dll
/Lunafit/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.SqlServer.dll
/Lunafit/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Relational.dll
/Lunafit/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.dll
/Lunafit/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Abstractions.dll
/Lunafit/bin/Debug/netcoreapp3.1/Microsoft.Data.SqlClient.dll
/Lunafit/bin/Debug/netcoreapp3.1/Lunafit.Service.pdb
/Lunafit/bin/Debug/netcoreapp3.1/Lunafit.Service.dll
/Lunafit/bin/Debug/netcoreapp3.1/Lunafit.runtimeconfig.json
/Lunafit/bin/Debug/netcoreapp3.1/Lunafit.runtimeconfig.dev.json
/Lunafit/bin/Debug/netcoreapp3.1/Lunafit.pdb
/Lunafit/bin/Debug/netcoreapp3.1/Lunafit.Models.pdb
/Lunafit/bin/Debug/netcoreapp3.1/Lunafit.Models.dll
/Lunafit/bin/Debug/netcoreapp3.1/Lunafit.exe
/Lunafit/bin/Debug/netcoreapp3.1/Lunafit.dll
/Lunafit/bin/Debug/netcoreapp3.1/Lunafit.deps.json
/Lunafit/bin/Debug/netcoreapp3.1/Lunafit.Data.pdb
/Lunafit/bin/Debug/netcoreapp3.1/Lunafit.Data.dll
/Lunafit/bin/Debug/netcoreapp3.1/Lunafit.Bc.pdb
/Lunafit/bin/Debug/netcoreapp3.1/Lunafit.Bc.dll
/Lunafit/bin/Debug/netcoreapp3.1/appsettings.json
/Lunafit/bin/Debug/netcoreapp3.1/appsettings.Development.json
